@import "tailwindcss";
/* font */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap");

.azeret-mono {
  font-family: "Azeret Mono", monospace;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: auto;
}

.banner {
  background-image: url("./assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 650px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.handshake {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("./assets/handshake.jpg");
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1140px;
  height: 300px;
}
